@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Noto+Sans:wght@100&family=Roboto:wght@100&display=swap');

$font-1: 'Noto Sans', cursive;
$font-2: 'Roboto', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #D2DCD3;
$color-2: #41635E;
$color-3: #6B8C83;
$color-4: #91BFBC;
$color-5: #738A90;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    color: $white;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited {
    color: $black;
}

.home, .knowledges, .portfolio, .contact {
    display: flex;

    @media screen and (max-width: 850px) {
        display: block !important;
    }
}

.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
    margin-left: .4rem;

    @media screen and (max-width: 850px) {
        margin-left: 0 !important;
    }
}